:root{
    --preto: #222222;
    --cinza-escuro: #7c7c7c;
    --cinza-medio:  #a4a4a4;
    --cinza-claro: #f7f7f7;
    --azul-forte: #122ab2;
    --azul-suave: #2c70ff;
    --purple: #ae81ff;
    --pink: #f9265e;
    --blue: #66d9eb;
    --cabecalho:linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);

}


body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito";
    color: var(--preto);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ========================== SUPERINFO */ 

.superinfo-bg {
    background: var(--cabecalho);
    color: white;
}

.superinfo{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-left: 5px;
    
}

.superinfo p, .superinfo a {
    margin: 5px 5px;
}
.superinfo a {
    color: white;
}

/* ========================== MENU */ 

.menu-bg{
    background: var(--cabecalho);
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    color: white;
}

.menu-logo a{
    font-size:2.25em;
    font-weight: bold;
    margin:0 auto;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-nav a{
    font-size: 1.25em;
    display: flex ;
    padding: 5px;
}

.menu-nav a:hover {
    color: var(--azul-forte);
}

/* ========================== INTRODUÇÃO */

.introducao{
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 10px;
}

/* ========================== SOBRE */

.sobre{
    border-top: 2px solid var(--purple) ;
    border-bottom: 2px solid var(--purple);
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 10px;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 1 1 300px;
    margin: 0 10px;
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    text-align: justify;
    max-width: 500px;
    color: var(--cinza-escuro);
}

.sobre-img{
 display: flex;
 flex: 1 1 100px;
 flex-direction: column;
 width:30%;
 min-width: 250px;
}
.sobre-img img{
    margin-bottom: 20px;
}

/* ========================== PRODUTOS */

.produtos {
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1{
    font-size: 3em;
    margin: 0 10px 60px 10px;
}

.produtos-container{
    display:flex;
    flex-wrap: wrap;
}

.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
}

.produtos-item h2{
    font-size: 3em;
    color: var(--cinza-medio);
    background: var(--cinza-claro);
    padding: 60px 20px;
}

.purple{
    border-top: 8px solid var(--purple);
}

.pink{
    border-top: 8px solid var(--pink);
}

.blue{
    border-top: 8px solid var(--blue);
}

.produtos-container img {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 50%;
}

/* ========================== PREÇOS */

.preco {
    max-width: 960px;
    border-top: 2px solid var(--purple);
    border-bottom: 2px solid var(--purple);
    display: flex;
    flex-wrap: wrap;
    margin:  15px auto;
    padding: 15px;
}

.preco .preco-item{
    align-items: center;
    margin: 0 auto;
    padding: 0;
    background: var(--cinza-claro);
    padding: 40px;
}

.preco-item {
    flex: 1 1 300px;
    border: 4px solid white;
    padding: 10px;
    margin: 5px;
    /*min-width: 260px;  dica: usar 260px pois é o valor minimo de largura no mobile ou usar o flex basis, tira o min-width e coloca só flex: 1 1 260px */
}

.preco-item h2{
    font-size: 3em;
    color: var(--cinza-medio);
    text-align: center;
    margin-top: 10px;
}

.preco-item span{
    max-width: 300px;
    margin: 10px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.preco-item sup {
    font-size: 1.5rem;
}

.preco-item ul{
    max-width: 200px;
    margin: 10px auto;
    font-size: 1.25em;
    font-style: italic;
    color: var(--cinza-escuro);
}

.preco-item li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after{ /* coloca qualquer coisa q eu escrever após o conteudo*/
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: var(--azul-suave);
    border-radius: 50%;
}

.preco-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: var(--preto);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}

@media (max-width: 800px){
    .preco{
        padding-left: 10px;
        padding-right: 10px;
    }

    .preco .preco-item:nth-child(3) { /* altera a ordem que será apresentado os preços conforme. o ítem 3 aparecerá em 2 e abaixo o item 2 aparecerá em 1 quando a tela quebrar em menos de 800px */
        order: -2;
   }
   .preco .preco-item:nth-child(2) {
    order: -1;
}
}

/* ========================== QUALIDADE */

.qualidade{
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2{
    font-size: 2.25em;
    color: var(--cinza-medio);
    margin-bottom:20px ;
}

.qualidade-item h2::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h2::before { /* vai pegar o traço criado contando o 1 e depois o terceiro item pra ficar da mesma cor */
    background-color: var(--purple);
}

.qualidade-item:nth-of-type(3n+2) h2::before { /* vai pegar o traço lateral criado contando o 1 e depois o terceiro item pra ficar da mesma cor */
    background-color: var(--pink);
}

.qualidade-item:nth-of-type(3n+3) h2::before { /* vai pegar o traço criado contando o 1 e depois o terceiro item pra ficar da mesma cor */
    background-color: var(--blue);
}

.qualidade-item p{
    font-size: 1.25em;
    line-height: 1.4;
    color: var(--cinza-escuro);
}

/* ========================== NEWSLETTER */

.newsletter {
    background: var(--cinza-claro);
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 240px;
    margin: 0 10px;
}

.newsletter-info h1{
    font-size: 2.5em;
    color: var(--cinza-medio);
}

.newsletter-info p {
    font-size: 1.2em;
    font-style: italic;
    max-width: 230px;
    color: var(--cinza-escuro);
    margin-bottom: 10px;
}

.newsletter-form {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input{
    flex: 3 1 260px;
    font-size: 1.25em;
    color: var(--cinza-escuro);
    font-style: italic;
    font-family: 'Nunito';
    border: 4px solid #574ae8;
    background: transparent;
    padding: 15px 10px;
    margin: 0px;
    border-radius: 5px;
}

.newsletter-form button{
    flex: 1 1 260px;
    font-family: 'Nunito';
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--cabecalho);
    color: white;
    margin: 0px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;

}

@media (max-width: 600px) {
    .newsletter-form button {
        font-size: 1.5em
    }
}


/* ========================== FOOTER */

.footer {
    display: flex;
    background: var(--cabecalho);
    height: 100px;
    align-items: center;
}

.footer p {
     flex: 1;
     text-align: center;
     font-size: 2em;
     color: white
}